body {
    background-color: #9bad92;
  }

  .jumbotron{background-color: beige;}

  .jumbotron h1{
    color: #384d2e;
    }

    .panel > .panel-heading {
        background-image: none;
        background-color: rgb(71, 99, 58);
        color: white;
    
    }
